JSON file
{
  "name": "Daily AI Telegram News",
  "nodes": [
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything/?q=AI&pageSize=1&apiKey=46b326649d2c4845aa5a17d3bf4cfbb9",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -192
      ],
      "id": "156c636d-8f73-4931-b290-f02aa59b4be4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search?q=AI&lang=en&max=2&sortBy=popularity&apikey=f4d448ea5609df3e9782e1cd3463bf5a",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        176
      ],
      "id": "f643b3d9-139e-4394-8a7f-2ca89c20ce8c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        0
      ],
      "id": "e087b925-1a56-4d9d-a02f-4587c9071e66",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "caa316e7-aa96-4adf-8b4c-a81003fb4f80",
      "name": "Split Out"
    },
    {
      "parameters": {
        "chatId": "5168238510",
        "text": "={{ \"*Hot AI News of the Day 🔥*\"}}\n\n{{ $json.Source[0][0] }}:\n{{ $json.text[0][0] }}\n\nlink: {{($json.url[0][0])}}: \n----\n{{ $json.Source[0][1] }}:\n{{ $json.text[0][1] }}\n\n{{\"[link]\"}}: {{ $json.url[0][1] }}\n----\n{{ $json.Source[0][2] }}:\n{{ $json.text[0][2] }}\n\n{{\"[link]\"}}: {{ $json.url[0][2] }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3024,
        144
      ],
      "id": "09671998-1d9c-457f-a88b-828b19e39679",
      "name": "Send a text message",
      "webhookId": "48d89040-843f-4585-a305-006950d4af43",
      "credentials": {
        "telegramApi": {
          "id": "q30Tuz9ufobWPHbr",
          "name": "AI News Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1136,
        0
      ],
      "id": "44e3cf30-04d8-421f-866f-0dec01ff0fcf",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1136,
        192
      ],
      "id": "6ae5fce6-64f3-4293-bed0-7e066862f395",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nKKx3EoSVJvFJYrD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bf7dae6-17cd-49fe-add8-41b8201a4c54",
              "name": "Date",
              "value": "={{ $json.publishedAt}}",
              "type": "string"
            },
            {
              "id": "78ddc46d-488e-4833-aef1-9a4c9eca6c7b",
              "name": "Source",
              "value": "={{ $json.source.name }}",
              "type": "string"
            },
            {
              "id": "2398d9f6-d168-4a8f-a32d-16b5ae47b0c9",
              "name": "Author",
              "value": "={{ $ifEmpty($json.author, '') }}",
              "type": "string"
            },
            {
              "id": "a4ee8859-1426-4c59-bbb2-ea261b9d76f2",
              "name": "Description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "2ad0c9d6-1be4-4b1d-9ca0-9bd50690504d",
              "name": "Text",
              "value": "={{ $json.content.removeMarkdown() }}",
              "type": "string"
            },
            {
              "id": "298dda5f-d063-4ea5-ac1b-2788d318bf37",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        384
      ],
      "id": "ccf11a22-5efd-4f9f-8ba1-1afb59781316",
      "name": "Edit Fields",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output.text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1776,
        0
      ],
      "id": "53c2c8e7-b6f7-4516-aacd-3656d4802dfb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Source"
            },
            {
              "fieldToAggregate": "url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1776,
        384
      ],
      "id": "c59db307-fab4-406a-be06-860245a6a6f6",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2320,
        144
      ],
      "id": "cc9eba49-261e-4191-b8d9-75bed9fe1d9d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            },
            {
              "fieldToAggregate": "Source"
            },
            {
              "fieldToAggregate": "url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2528,
        144
      ],
      "id": "3c14e3ff-20c8-47c8-82a6-75d48a924417",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        16
      ],
      "id": "5aa859cd-5e1c-480d-89bd-655af385bdc5",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9125d8a7-583e-4510-9fa7-007d82290cdd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d59ef5f33aa90cf64b1f7b19c7d6dc8e768256f86a965946fe86c211bd91385e"
  },
  "id": "RkGBtSlYP5Ju2pJF",
  "tags": []
}
